" Source your .vimrc
source ~/.vimrc

set ignorecase
set smartcase
set incsearch
set hlsearch

autocmd BufEnter * set hlsearch
augroup no_highlight
  autocmd!
  autocmd CursorMoved * if &hlsearch | nohlsearch | endif
augroup END
nnoremap <silent> <Esc> :nohlsearch<CR>

nnoremap <silent> n nzzzv
nnoremap <silent> N Nzzzv

nnoremap <silent> <leader>nh :nohlsearch<CR>

vnoremap // y/<C-R>"<CR>

nnoremap <silent> * :let @/ = '\<'.expand('<cword>').'\>'<CR>:set hlsearch<CR>

vnoremap <silent> * :<C-U>
  \let old_reg=getreg('"')<Bar>let old_regtype=getregtype('"')<CR>
  \gvy:let @/=substitute(escape(@", '/\.*$^~['), '\_s\+', '\\_s\\+', 'g')<CR>
  \gV:call setreg('"', old_reg, old_regtype)<CR>:set hlsearch<CR>

" Leader
let mapleader=" "

" Options
set scrolloff=5
set incsearch
set NERDTree

" Plugins
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'

" Mappings
map Q gq

" Windows Splitting
nmap <Leader>\ :vsplit<CR>
nmap <Leader>v :vsplit<CR>
nmap <Leader>- :split<CR>
nmap <Leader>h :split<CR>

" Windows Navigation
map <C-J> <C-W>j
map <C-K> <C-W>k
map <C-L> <C-W>l
map <C-H> <C-W>h

" Tabs Navigation
nmap <S-l> <Action>(NextTab)
nmap <S-h> <Action>(PreviousTab)

" File Tree
nmap <Leader>e :action ActivateProjectToolWindow<CR>

" Panels
nmap <Leader>q :action HideAllWindows<CR>
map <Leader>z <Action>(ToggleDistractionFreeMode)
nmap <Leader>t :action ActivateTerminalToolWindow<CR>

" Find
map <leader>fw <Action>(ActivateFindToolWindow)
map <leader>/ <Action>(FindInPath)
nnoremap <leader><space> :action GotoFile<CR>

" Formatting
nnoremap <leader>cf :action ReformatCode<CR>


set number
set relativenumber
